---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Gallery Section">
    <main class="text-white">
        <h1 class="text-4xl p-8 sm:ml-2 lg:ml-8" transition:name="gallery-header">Gallery</h1>
    </main>
</Layout>